main {
  min-height: 70vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.main_title {
  padding-bottom: 1rem;
}

.inputs_container {
  margin-inline: auto;
}

.text-input {
  /* width: clamp(15rem, 70vw, 20rem); */
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  /* border-radius: 50px; */
  transition: ease-out outline-color .2s;
  letter-spacing: 3ch;
}
.text-input:where(:focus-visible, :hover) {
  outline-color: rgba(0, 128, 255, 0.5);
}

.buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.submit-btn {
  width: fit-content;
  padding: 0.45rem 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: rgba(143, 82, 160, 0.9);
  color: white;
  cursor: pointer;
  transition: 0.25s ease-out background-color, 0.25s ease-out padding-inline;
}
.submit-btn:where(:focus-visible, :hover) {
  background-color: rgba(255, 0, 0, 0.5);
  padding-inline: 1.45rem;
}

.main_form {
  display: grid;
  gap: 1rem;
}

.resend_email_form {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1ch;
}

.resend_email_span {
  color: #999;
  opacity: .7;
  transition: opacity .2s ease-out;
}

.send_email_btn {
  font-size: 1rem;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: red;
  opacity: .7;
  transition: color .2s ease-out, opacity .2s ease-out;
}
.send_email_btn:is(:hover, :focus-visible) {
  color: #EEE;
  opacity: 1;
}

.result {
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgb(0, 157, 255);
}
