:root {
  --clr-background: #111;
  --clr-font: #eee;
  --clr-green-800: green;
  --clr-gray: #222;
  --clr-light-gray: #333;
  --clr-gray-300: rgb(75, 75, 75);
  --clr-gray-100: rgb(40, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--clr-font);
}

::-webkit-scrollbar {
  width: 1vw;
  max-width: 5px;
  background-color: rgb(49, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #474747;
  transition: background-color ease-out 0.1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5d5d5d;
}

body {
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: var(--clr-font);
  background-color: var(--clr-background);
  background-image: linear-gradient(
    -110deg,
    rgba(255, 0, 0, 0.405),
    rgba(255, 0, 0, 0.15),
    rgba(0, 0, 0, 1) 40%
  );
}

main {
  display: flex;
  align-items: flex-start;
  width: min(99%, 90rem);
  min-height: 82vh;
  padding-bottom: 5rem;
}

header h1 {
  animation: slide_in_ttb 0.5s ease-out forwards;
}

#aside {
  display: flex;
  position: sticky;
  top: 10px;
  min-height: fit-content;
  border-radius: 20px;
  border: 1px solid var(--clr-gray);
  animation: slide_in_ltr 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    font-size: 0.2rem;
  }
  100% {
    opacity: 1;
    font-size: auto;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    font-size: auto;
  }
  100% {
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 0;
  }
}

#aside-list > li {
  padding: 5px;
  border-radius: 50px;
}
#aside-list > li:where(:hover, :focus-visible) {
  background-color: var(--clr-light-gray);
}

#aside-list > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

#aside-list img {
  filter: invert(1);
}

.show-600 {
  display: none;
  color: black;
}

@media screen and (max-width: 700px) {
  #aside {
    padding: 4px;
    justify-content: center;
  }
  #aside-list > li > a > span {
    font-size: 0.85rem;
  }
  .show-600 {
    display: block;
  }
  .hide-600 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 340px) {
  #aside {
    padding: 1px;
    justify-content: center;
  }
  .show-600 {
    display: block;
  }
  .hide-600 {
    display: none;
  }
  #content {
    padding: 5px;
  }
  #content > article {
    flex-grow: 1;
  }
}

#content {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#purchases-page #content {
  display: flex;
  flex-direction: column;
  max-width: 92%;
  gap: 1rem;
}

@media (max-width: 1400px) {
  #content > #movies-box {
    max-width: 100%;
  }
}

#content > article {
  min-width: 40%;
  max-width: 35rem;
  flex-grow: 1;
}

#purchases-page article {
  margin-inline: auto;
  min-width: 40%;
  max-width: 70rem;
  flex-grow: 1;
  animation: slide_in 0.5s ease-out forwards;
}

#settings-page {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  animation: slide_in 0.5s ease-out forwards;
}

#settings-page form {
  min-width: 40%;
  max-width: 35rem;
  flex-grow: 1;
}

#settings-page select {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
}

.toggle-switch {
  border: 2px solid rgba(100, 100, 100, 0.75);
  width: 44px;
  height: 24px;
  border-radius: 50px;
  background-color: rgba(100, 100, 100, 0.75);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-out border-color, background-color 0.3s ease-out;
}
.toggle-switch_inner {
  margin-left: 0px;
  display: grid;
  justify-items: center;
  background-color: rgba(201, 201, 201, 0.75);
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: 0.25s ease-out margin-left;
}
.toggle-input[checked] + .toggle-switch > div {
  opacity: 1;
  margin-left: 20px;
  background-color: rgba(245, 245, 245, 0.9);
}
.toggle-input[checked] + .toggle-switch {
  opacity: 1;
  background-color: var(--clr-green-800);
  border-color: var(--clr-green-800);
}

.submit-btn-container {
  display: flex;
  align-items: end;
  padding-block: 1.5rem;
}

.submit-btn {
  margin-left: auto;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background-color: green;
  color: #eee;
  cursor: pointer;
  transition: 0.2s ease-out scale;
}

.submit-btn:where(:hover, :focus-visible) {
  scale: 1.05;
}

.work-box {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  border: 1px solid var(--clr-light-gray);
}

@media screen and (max-width: 1400px) {
  .work-box {
    max-width: none;
  }
}

.movies-boxes__header {
  display: flex;
}

.movies-boxes__title {
  margin-inline: auto;
  text-align: center;
  padding-bottom: 1rem;
}

#movies_cards_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#movies_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 2vw, 2rem);
}

.movie_card {
  position: relative;
  isolation: isolate;
  border-radius: 10px;
  transition: scale 0.3s ease-out;
}

.movie_card:hover {
  scale: 1.01;
}

.movie_card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    transparent 20%,
    rgba(0, 0, 0, 0.75) 100%
  );
  transition: filter ease 0.3s;
}

.movie_card:hover::before {
  filter: blur(10px);
}

.movie_pic {
  position: relative;
  aspect-ratio: 9/14;
  max-width: 20rem;
  border-radius: 10px;
  z-index: -1;
}

.movie_card_header {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  font-size: 2rem;
}

.delete_btn {
  width: fit-content;
  border-radius: 15px;
  border: none;
  backdrop-filter: blur(2px);
  background-color: transparent;
  outline-color: transparent;
  color: white;
  cursor: pointer;
  transition: ease 0.2s scale;
}

.delete_btn:is(:hover, :focus-within) {
  scale: 1.05;
}

.movie_name {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.movie_card_footer {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  left: 0.5rem;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: space-between !important;
  opacity: 0.75;
}

#account-page {
  padding-top: 2rem;
  width: 100%;
  gap: 4rem;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  animation: slide_in 0.5s ease-out forwards;
}

.account-page__form {
  display: grid;
  gap: 1rem;
}

.change-pic {
  position: relative;
  width: 60px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  transition: 0.2s ease-out border-radius 0.03s;
}

.change-pic > img {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  outline: rgba(0, 0, 0, 0.4) 1px solid;
  transition: 0.2s ease-out border-radius 0.03s;
}

.change-pic > img:where(:focus-visible, :hover),
.change-pic:where(:focus-visible, :hover) {
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(46, 46, 46, 0.575);
}

.change-name-form {
  position: relative;
}

.text-input {
  width: clamp(15rem, 70vw, 25rem);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 50px;
}

.text-input:where(:focus-visible, :hover) {
  outline: 1px solid rgba(0, 128, 255, 0.5);
  box-shadow: 0 0 15px -2px rgba(255, 255, 255, 0.2);
}

#account-page .submit-btn {
  width: fit-content;
  margin-left: auto;
  padding: 0.45rem 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: rgba(143, 82, 160, 0.9);
  color: white;
  cursor: pointer;
  transition: 0.25s ease-out background-color, 0.25s ease-out padding-inline;
}

#account-page .submit-btn:where(:focus-visible, :hover) {
  background-color: rgba(255, 0, 0, 0.5);
  padding-inline: 1.45rem;
}

.log_out_form {
  padding-top: 2rem;
  justify-content: center;
}

.log_out_form .submit-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@keyframes slide_in {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes slide_in_ltr {
  0% {
    opacity: 0;
    translate: -50px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes slide_in_ttb {
  0% {
    opacity: 0;
    translate: 0 -50px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

.important_success {
  font-size: 1.25rem;
  color: green;
  text-align: center;
}

.success {
  font-size: 1rem;
  color: green;
  text-align: center;
}

.important_error {
  font-size: 1.25rem;
  color: red;
  text-align: center;
}

.error {
  font-size: 1rem;
  color: red;
  text-align: center;
}
