* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
  max-width: 5px;
  background-color: rgb(49, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #474747;
  transition: background-color ease-out 0.1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5d5d5d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    -110deg,
    rgba(255, 0, 0, 0.405),
    rgba(255, 0, 0, 0.15),
    rgba(0, 0, 0, 1) 40%
  );
  color: #eee;
}

aside {
  padding: 1rem;
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    20deg,
    rgba(0, 51, 80, 0.3) 30%,
    rgb(19, 19, 19) 90%
  );
  backdrop-filter: blur(5px) grayscale(100);
  translate: 0 -100vw;
  z-index: 5;
}

aside:not([hidden]) {
  animation: showAside 0.7s ease forwards;
}

.aside__title {
  font-size: 2rem;
  text-align: center;
}

.aside__main {
  padding-top: 5vh;
}

.aside__ul {
  margin-inline: auto;
  display: grid;
  gap: 10px;
  padding: 20px;
  list-style: none;
}

.aside__ul > div {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-around;
}

.aside__ul li {
  margin: 0.5rem;
}

.aside__ul li a {
  position: relative;
  display: block;
  min-width: 7rem;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 110, 255),
    rgba(255, 255, 255, 0.726)
  );
  color: white;
  transition: 0.3s ease-out scale;
  isolation: isolate;
}

.aside__ul li a::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background-image: linear-gradient(to right, rgb(0, 110, 255), white);
  z-index: -1;
  transition: 0.3s ease-out width;
}

.aside__ul li a::after {
  content: ">";
  position: absolute;
  font-size: 2rem;
  left: -10px;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease-out opacity, 0.3s ease-out left;
}

.aside__ul li a:where(:hover, :focus-visible)::before {
  width: 100%;
}

.aside__ul li a:where(:hover, :focus-visible)::after {
  left: -25px;
  opacity: 0.75;
}

@keyframes showAside {
  from {
    translate: 0 -100vh;
  }
  70% {
    translate: 0;
  }
  to {
    translate: 0;
  }
}

@keyframes hideAside {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.aside-search {
  padding-top: clamp(1rem, 5vh, 3rem);
  display: grid;
  justify-content: center;
  align-items: center;
}

#aside-search-box {
  width: 60vw;
  max-width: 20rem;
  margin-inline: auto;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  outline: none;
  transition: padding 0.2s ease-out;
}

@media (max-width: 425px) {
  .aside__ul > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .aside__ul {
    gap: 0;
  }
  #aside-search-box {
    width: 80vw;
  }
  #page-main-title {
    font-size: 1.5rem;
  }
}

header {
  padding: 1rem;
  max-width: 90rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > * {
  display: flex;
  gap: 0.5rem;
}

header nav {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 9999px;
  backdrop-filter: blur(2px);
  z-index: 10;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.2s ease-out;
}

header button:hover {
  filter: grayscale(0);
}

#search-box {
  opacity: 0;
  width: 40vw;
  /* max-width: 15rem; */
  max-width: 0;
  padding: 0.35rem 0.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 99px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  outline: none;
  transition: padding 0.2s ease-out;
}

#search-box:not([hidden]) {
  animation: show-search-box 0.4s ease-out forwards;
  padding: 0.35rem 0.7rem;
}

#search-box[closing] {
  animation: hide-search-box 0.4s ease-out forwards;
  padding: 0;
}

@keyframes show-search-box {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 15rem;
  }
}

@keyframes hide-search-box {
  from {
    opacity: 1;
    max-width: 15rem;
  }
  to {
    opacity: 0;
    max-width: 0;
  }
}

#aside-btn-container {
  display: none;
}

@media (max-width: 800px) {
  nav > button:not(#aside-btn-container) {
    display: none;
  }
  #aside-btn-container {
    display: block;
  }
}

main {
  max-width: 90rem;
  width: calc(100% - 10px);
  margin-inline: auto;
}

#hero {
  padding-inline: 0.5rem;
  display: flex;
  gap: clamp(1rem, 1vw, 3rem);
}

.hero__left {
  display: flex;
  flex-grow: 1;
}

.hero__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-block: 1rem;
  padding-inline: clamp(2rem, 5vw, 5rem);
  gap: 1rem;
}


.hero__right__header {
  display: flex;
  justify-content: space-around;
}

.hero__movieName {
  font-size: 2.5rem;
  color: #00a3ff;
}

.hero__price {
  font-size: 1.5rem;
  color: #00a3aa;
}

.hero__description {
  font-size: 1.1rem;
}

.hero__buy {
  margin-inline: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero__buy_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buy_seat_btn {
  outline: hidden;
  padding: 0.75rem;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
  color: white;
  cursor: pointer;
  transition: background-color ease-out 0.2s, scale 0.2s ease-out;
}

.buy_seat_btn:is(:hover, :focus-within) {
  background-color: #9900ff;
  scale: 1.1;
}

.success_purchase {
  color: green;
  padding-block: 3rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  #hero {
    flex-direction: column-reverse;
  }
  .hero__movieName {
    text-align: center;
  }
  .hero__right {
    padding-inline: 0;
  }
}

#page3 {
  padding-block: 5rem;
}

.page3__header {
  max-width: 60rem;
  margin-inline: auto;
  padding: 1.5rem 0.4rem;
  color: #00a3ff;
  font-size: 2rem;
}

.page3__cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.page3__card {
  position: relative;
  isolation: isolate;
  border-radius: 10px;
  transition: scale 0.3s ease-out;
}

.page3__card:hover {
  scale: 1.01;
}

.page3__moviePic {
  position: relative;
  aspect-ratio: 9/14;
  max-width: 20rem;
  border-radius: 10px;
  z-index: -1;
}

.page3__card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    transparent 20%,
    rgba(0, 0, 0, 0.75) 100%
  );
  transition: filter ease 0.3s;
}

.page3__card:hover::before {
  filter: blur(10px);
}

.page3__movieBtn {
  position: absolute;
  inset: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  opacity: 0;
  transition: all ease 0.3s;
}

.page3__movieBtn:hover {
  opacity: 1;
}

.page3__movieName {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  font-size: 2rem;
  translate: -50%;
  border-radius: 999px;
}

.page3__movieStatus {
  position: absolute;
  font-size: 0.7rem;
  top: 0.5rem;
  right: 0.5em;
  padding: 0.5rem;
  border-radius: 9999px;
}

.page3__movieStatus.available {
  background-color: rgba(0, 200, 0, 0.8);
}

.page3__movieStatus.notAvailable {
  background-color: rgba(255, 0, 0, 0.8);
}

.page3__genres-container {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.page3__card:is(:hover, :focus-within) .page3__genres-container {
  opacity: 0.9;
}

.page3__genres-container .genre {
  font-size: 0.9rem;
  padding: 0.25rem 0.6rem;
  border-radius: 9999px;
  background-color: rgba(0, 162, 255, 0.75);
  backdrop-filter: blur(2px);
}

.important-error {
  padding: 1rem;
  padding-block: 3rem;
  font-size: 1.6rem;
  text-align: center;
  color: red;
}
