* {
  box-sizing: border-box;
}

body {
  scroll-behavior: auto;
}

#logout_form {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout_btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  border: none;
  background-color: rgba(143, 82, 160, 0.9);
  border-radius: 999px;
  padding: 0.5rem 1.1rem;
  cursor: pointer;
  transition: 0.2s ease-out background-color, 0.2s ease-out padding-inline;
}

.logout_btn:is(:hover, :focus-visible) {
  background-color: red;
  padding-inline: 1.8rem;
}

#hero {
  display: grid;
}

.form {
  scroll-padding-top: 2rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

#admin-signin-form {
  margin-top: 5rem;
  align-items: center;
  gap: 3rem;
}

#admin-signin-form > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  padding: 0.5rem;
  font-size: 1.05rem;
  color: #efefef;
  opacity: 0.9;
}

.login_input {
  margin-inline: auto;
  width: 100%;
  max-width: 30rem;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  border: none;
  font-size: 1.1rem;
  border-bottom: 1px solid skyblue;
  outline: none;
}

.login_button {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 99px;
  background-color: rgb(140, 0, 255);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-out, scale 0.2s ease-out,
    padding-inline 0.2s ease-out;
}

.login_button:is(:hover, :focus-within) {
  scale: 1.1;
  background-color: rgb(0, 89, 255);
}

.login_success {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 89, 255);
  margin-block: 2rem;
  padding: 0.5rem;
}

.hero_card {
  margin-inline: auto;
  width: 100%;
  max-width: 40rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.hero_card_title {
  text-indent: 0.5rem;
  display: grid;
  align-items: center;
}

.hero_card_preview {
  display: flex;
  justify-content: space-between;
}

.hero_card_preview img {
  cursor: pointer;
  filter: invert(1);
  opacity: 0.75;
}

.success {
  padding-block: 0.5rem;
  font-size: 1.1rem;
  color: green;
  text-align: center;
}

.important_success {
  padding-block: 0.5rem;
  font-size: 1.35rem;
  color: green;
  text-align: center;
}

.error {
  padding-block: 0.5rem;
  font-size: 1.1rem;
  color: red;
  text-align: center;
}

.important_error {
  padding-block: 0.5rem;
  font-size: 1.5rem;
  color: red;
  text-align: center;
}
